#root {
  max-width: 1280px;
  text-align: center;
}

.spiral {
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid grey;;
}

.info {
  display: block;
  padding: 10px 25% 10px;
}

label {
  display: block;
  margin-bottom: 10px;
}